In [1]:
import pandas as pd

In [53]:
df = pd.read_csv("Students.csv")
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [55]:
df = df.drop(["parental level of education", "lunch"], axis = 1)
df.head()

,gender,race/ethnicity,test preparation course,math score,reading score,writing score
0,female,group B,none,72,72,74
1,female,group C,completed,69,90,88
2,female,group B,none,90,95,93
3,male,group A,none,47,57,44
4,male,group C,none,76,78,75

In [57]:
df.shape

(1000, 6)

In [59]:
df = df[:20]

In [61]:
df.shape

(20, 6)

In [63]:
df.to_csv("Testing.csv")

In [37]:
type(df.iloc[0])

pandas.core.series.Series

In [47]:
for i, row in df.iterrows():
    for col, val in row.items():
        print(val)

female
group B
none
72
72
74
female
group C
completed
69
90
88
female
group B
none
90
95
93
male
group A
none
47
57
44
male
group C
none
76
78
75