# Selecting best model and tuning parameters

In [4]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris

In [5]:
import warnings
warnings.filterwarnings("ignore")

In [6]:
iris = load_iris()
dir(iris)

['DESCR',
 'data',
 'data_module',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [7]:
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df["target"] = iris.target
df["flower"] = df["target"].apply(lambda x: iris.target_names[x])
df[45:55]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,flower
45,4.8,3.0,1.4,0.3,0,setosa
46,5.1,3.8,1.6,0.2,0,setosa
47,4.6,3.2,1.4,0.2,0,setosa
48,5.3,3.7,1.5,0.2,0,setosa
49,5.0,3.3,1.4,0.2,0,setosa
50,7.0,3.2,4.7,1.4,1,versicolor
51,6.4,3.2,4.5,1.5,1,versicolor
52,6.9,3.1,4.9,1.5,1,versicolor
53,5.5,2.3,4.0,1.3,1,versicolor
54,6.5,2.8,4.6,1.5,1,versicolor

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, y_train, y_test = train_test_split(iris.data, iris.target, test_size=0.3)

# SVM - Support Vector Machine

In [11]:
from sklearn.svm import SVC
svm_model = SVC(kernel = "rbf", C = 90, gamma = "auto")
svm_model.fit(X_train, y_train)
svm_model.score(X_test, y_test)

0.9777777777777777

In [12]:
from sklearn.model_selection import cross_val_score

In [13]:
cross_val_score(SVC(kernel = "rbf", C = 90, gamma = "auto"), iris.data, iris.target, cv = 5).mean()

0.96

In [14]:
cross_val_score(SVC(kernel = "linear", C = 5, gamma = "auto"), iris.data, iris.target, cv = 5).mean()

0.9800000000000001

In [15]:
kernels = ["rbf", "linear"]
C = [1,10,20]
avg_scores = {}

for kval in kernels:
    for cval in C:
        avg_score = cross_val_score(SVC(kernel = kval, C = cval, gamma = "auto"), iris.data, iris.target, cv = 5).mean()
        avg_scores[kval + "_" + str(cval)] = avg_score
avg_scores

{'rbf_1': 0.9800000000000001,
 'rbf_10': 0.9800000000000001,
 'rbf_20': 0.9666666666666668,
 'linear_1': 0.9800000000000001,
 'linear_10': 0.9733333333333334,
 'linear_20': 0.9666666666666666}

# GridSearchCV

In [17]:
from sklearn.model_selection import GridSearchCV

In [18]:
clf = GridSearchCV(SVC(gamma="auto"), {
    "C" : [1,10,20],
    "kernel" : ["rbf", "linear"]
}, cv = 5, return_train_score=False)

clf.fit(iris.data, iris.target)
clf.cv_results_

{'mean_fit_time': array([0.00296597, 0.0020071 , 0.00144787, 0.00259676, 0.00204496,
        0.0006052 ]),
 'std_fit_time': array([0.0008201 , 0.00043226, 0.00166558, 0.00050562, 0.00226817,
        0.00080426]),
 'mean_score_time': array([0.00203238, 0.0009654 , 0.00200033, 0.00085278, 0.00080271,
        0.00086699]),
 'std_score_time': array([0.00069256, 0.00100624, 0.00134861, 0.00048653, 0.00098311,
        0.00074586]),
 'param_C': masked_array(data=[1, 1, 10, 10, 20, 20],
              mask=[False, False, False, False, False, False],
        fill_value=999999),
 'param_kernel': masked_array(data=['rbf', 'linear', 'rbf', 'linear', 'rbf', 'linear'],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 1, 'kernel': 'rbf'},
  {'C': 1, 'kernel': 'linear'},
  {'C': 10, 'kernel': 'rbf'},
  {'C': 10, 'kernel': 'linear'},
  {'C': 20, 'kernel': 'rbf'},
  {'C': 20, 'kernel': 'linear'}],
 'split0_test_score': array([0.96666667, 0.96666667, 0.96666667, 1.        , 0.96666667,
        1.        ]),
 'split1_test_score': array([1., 1., 1., 1., 1., 1.]),
 'split2_test_score': array([0.96666667, 0.96666667, 0.96666667, 0.9       , 0.9       ,
        0.9       ]),
 'split3_test_score': array([0.96666667, 0.96666667, 0.96666667, 0.96666667, 0.96666667,
        0.93333333]),
 'split4_test_score': array([1., 1., 1., 1., 1., 1.]),
 'mean_test_score': array([0.98      , 0.98      , 0.98      , 0.97333333, 0.96666667,
        0.96666667]),
 'std_test_score': array([0.01632993, 0.01632993, 0.01632993, 0.03887301, 0.03651484,
        0.0421637 ]),
 'rank_test_score': array([1, 1, 1, 4, 5, 6])}

In [19]:
grid_df = pd.DataFrame(clf.cv_results_)
grid_df

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.002966,0.000820,0.002032,0.000693,1,rbf,"{'C': 1, 'kernel': 'rbf'}",0.966667,1.0,0.966667,0.966667,1.0,0.980000,0.016330,1
1,0.002007,0.000432,0.000965,0.001006,1,linear,"{'C': 1, 'kernel': 'linear'}",0.966667,1.0,0.966667,0.966667,1.0,0.980000,0.016330,1
2,0.001448,0.001666,0.002000,0.001349,10,rbf,"{'C': 10, 'kernel': 'rbf'}",0.966667,1.0,0.966667,0.966667,1.0,0.980000,0.016330,1
3,0.002597,0.000506,0.000853,0.000487,10,linear,"{'C': 10, 'kernel': 'linear'}",1.000000,1.0,0.900000,0.966667,1.0,0.973333,0.038873,4
4,0.002045,0.002268,0.000803,0.000983,20,rbf,"{'C': 20, 'kernel': 'rbf'}",0.966667,1.0,0.900000,0.966667,1.0,0.966667,0.036515,5
5,0.000605,0.000804,0.000867,0.000746,20,linear,"{'C': 20, 'kernel': 'linear'}",1.000000,1.0,0.900000,0.933333,1.0,0.966667,0.042164,6

In [20]:
grid_df[["param_C", "param_kernel", "mean_test_score"]]

   param_C param_kernel  mean_test_score
0        1          rbf         0.980000
1        1       linear         0.980000
2       10          rbf         0.980000
3       10       linear         0.973333
4       20          rbf         0.966667
5       20       linear         0.966667

In [21]:
clf.best_score_

0.9800000000000001

In [22]:
clf.best_params_

{'C': 1, 'kernel': 'rbf'}

In [23]:
from sklearn.model_selection import RandomizedSearchCV

In [24]:
rs = RandomizedSearchCV(SVC(gamma = "auto"), {
    "C" : [1,10,20],
    "kernel" : ["rbf", "linear"] 
}, cv = 5, n_iter=2)
rs.fit(iris.data, iris.target)
rs_df = pd.DataFrame(rs.cv_results_)

In [25]:
rs_df[["param_kernel", "param_C", "mean_test_score"]]

  param_kernel  param_C  mean_test_score
0          rbf        1         0.980000
1       linear       10         0.973333

In [26]:
rs.best_params_

{'kernel': 'rbf', 'C': 1}

In [27]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

In [28]:
model_params = {
    "svm" : {
        "model" : SVC(gamma = "auto"),
        "params" : {
            "C" : [1,10,20],
            "kernel" : ["rbf", "linear"]
        }
    },

    "random_forest" : {
        "model" : RandomForestClassifier(),
        "params" : {
            "n_estimators" : [1,5,10]
        }
    },

    "logistic_regression" : {
        "model" : LogisticRegression(),
        "params" : {
            "C" : [1,5,10]
        }
    }
}

In [29]:
scores = []

for model_name, mp in model_params.items():
    clf = GridSearchCV(mp["model"], mp["params"], cv = 5)
    clf.fit(iris.data, iris.target)
    scores.append({
        "model" : model_name,
        "best_score" : clf.best_score_,
        "best_parameter" : clf.best_params_
    })

In [30]:
scores_df = pd.DataFrame(scores)
scores_df

                 model  best_score             best_parameter
0                  svm        0.98  {'C': 1, 'kernel': 'rbf'}
1        random_forest        0.96       {'n_estimators': 10}
2  logistic_regression        0.98                  {'C': 10}